body{
    background: #003333;
}
header{
    height: 170px;
    font-family: impact;
    font-size: 1.75em;
    background-color: #FF6633;
    border-style: solid;
    border-color: #003333;
    width: 100%;
    
}
header h1{
    font-size: 3.375em;
    color: #003333;

}
header ul{        
    font-family: impact;

}
.derp{
    float: right;
    padding: 13px 14px;
    font-size: 1.25em;

}

a:link, a:visited {
    background-color: #FFCC99;
    color: black;
    padding: 13px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #FF6633;
}
aside {
    float: left;
    font-size: 1.25em;
    text-align: left;
    width: 19%;
    font-family: Arial;
    background-color: #FFCC99;
    height: auto;
    margin-left: 1%;


}
aside ul{
    list-style-type: none;
    padding-left: 20px;
}

section{
    font-size: 1em;
    background-color: #FFCC99;
    float: right;
    width: 78%;
    height: auto;
    margin-right: 1%;

}
p{
    font-family: Courier;
    font-style: italic;
}
h4{
    font-family: Century;

}
h2{
    font-family: Century;
}
footer{
    background-color: #FF6633;
    color: white;
    float: left;
}
.container{
    width: 95%;
    max-width: 1300px;

}
@media screen and (max-width:900px) {
    aside {float: none; width: 70%; margin-left: 1%; margin-bottom: 7%; margin-top: 20%;}
    section {float: none; width: 70%; margin-right: 1%; margin-left: 1%;}


      }
    

@media screen and (max-width:530px) {
        .derp {display: none; }

}